@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Pulse.css" asp-append-version="true"/>
</head>

<div class="text-center">
    <h1>Bem vindos ao meu sistema CRUD de empréstimos de livros!</h1>
    <p>Este projeto foi feito com o JetBrains Rider, uma IDE que ficou gratuíta recentemente para o uso não comercial.</p>
    <div class="mt-5 mb-5">
        <img class="w-100" src="img/Rider.png"/>
    </div>
    <p>Para obter mais informações sobre o Rider,<a href="https://www.jetbrains.com/pt-br/rider/"> clique aqui </a>.</p>
</div>